body {
  font-family: 'Roboto condensed';
}

.is_grey {
  background-color: #ddd;
  margin-bottom: 65px;
}

.is_grey .profile_picture {
  height: 300px;
  background: url(../img/ignacio_salcedo.jpg) no-repeat center top/cover;
}

.is_grey .profile_info {
  padding-top: 30px;
}

.is_grey .profile_info .is_logo {
  max-width: 113px;
  vertical-align: bottom;
  margin-right: 10px;
}

.is_grey .profile_info p {
  margin-bottom: 10px;
}

.is_grey .profile_info p a {
  font-size: 16px;
  font-weight: 600;
  color: #f07a2a;
}

.is_grey .profile_info h2 {
  margin-bottom: 5px;
  font-size: 36px;
  font-weight: 600;
  color: #f07a2a;
  line-height: 1;
}

.is_grey .profile_info h3 {
  font-size: 16px;
  font-weight: 600;
  color: #f07a2a;
  line-height: 1;
}

.is_grey .profile_social {
  padding-top: 30px;
}

.is_grey .profile_social .social_list {
  list-style: none;
}

.is_grey .profile_social .social_list a {
  font-size: 16px;
  font-weight: 600;
  color: #f07a2a;
}

.border {
  height: 2px;
  background-color: #f07a2a;
  margin-bottom: 16px;
}

.info_body h2 {
  font-size: 20px;
  font-weight: 600;
  color: #f07a2a;
  text-transform: uppercase;
}

.info_body h2 small {
  font-size: 15px;
  color: #f07a2a;
  font-weight: 600;
}

.info_body h3 {
  font-size: 16px;
  color: #333;
  font-weight: 600;
  font-style: italic;
}

.info_body h3 small {
  font-size: 12px;
  color: #999;
}

.info_body p {
  color: #333;
  text-align: justify;
}

.info_body .skills {
  border-left: 2px solid #f07a2a;
  margin-bottom: 1rem;
}

.info_body .skill_meter .skill_full,
.info_body .skill_meter .skill_empty {
  height: 30px;
  width: 30px;
  display: inline-block;
  margin-right: 15px;
}

.info_body .skill_meter .skill_full {
  background: url(../img/skill_status.svg) top left no-repeat;
}

.info_body .skill_meter .skill_empty {
  background: url(../img/skill_status.svg) top right no-repeat;
}
